body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");

#map{
  width: 22em;
  height:33em;
}

#mainBox {
  display: flex;
  flex-direction: row;
  height: 100%;
}

main {
  width: 70%;
}

#chapter-div, #chat-div {
  height: 55%;
  overflow: scroll;
  overflow-x: hidden;
}

#div-chat {
  overflow: scroll;
  max-height: 95vh;
  margin: 1em;
}

#map-div {
  max-height: 18em;
  margin-top: 1em;
}

aside {
  width: 15%;
  max-height: 100vh;
  /* background-color: aquamarine; */
}

#div-video {
  width: 100%;
}

ul {
  padding-right: 1.1em;
  margin-top: 0px;
  margin-bottom: 0px;
}

li {
  list-style: none;
  background-color: rgb(205, 204, 206);
  margin-left: -1.5em;
  border-radius: 20px 100px 100px 20px;
  font-size: 1.5em;
  text-indent: 10px;
  transition: all .2s ease-in-out;
}

li:hover {
  cursor: pointer;
  transform: translateX(20px);
  font-weight: bold;
  background-color: rgb(255, 128, 128);
}

li > p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.active {
  font-weight: bold;
  background-color: rgb(255, 128, 128);
}

/*         */

main > footer {
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main > footer > p {
  margin-top: 10px;
  font-weight: bold;
  transition: all .2s ease-in-out;
  animation: 0.5s linear 1s infinite alternate grow;
  border-radius: 5px;
}

@keyframes grow {
  from {
    /* pushes the sun down past the viewport */
    transform: scale(1);
  }
  to {
    /* returns the sun to its default position */
    transform: scale(1.1);
  }
}

main > footer > p:hover {
  background-color: rgb(255, 128, 128);
}

.messageBox {
  border-style: solid;
  border-color: rgb(165, 216, 135);
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 0.5em;
}

.messageName {
  color: rgb(89, 50, 104);
  font-weight: bolder;
}

.messageMoment {
  color: blue;
  cursor: pointer;
}

#form-msg > p{
  padding: -1em;
}